
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model  Hackagram.Models.Question
@*<script>

        function CheckAnswer(data) {
            url = @Url.Action("GetQuestions", "Hackagram")+'?excerciseName=' + data
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send();
            var response = JSON.parse(xhttp.responseText);


        }
    </script>*@

<div class="container">
    <div class="row">
        <div class="col-lg-offset-4">
            <h1>Questions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <a class="btn btn-primary" href="@Url.Action("Questions", "Home", new { excerciseName = "Hackagram"})">Hackagram</a>
                <a class="btn btn-default disabled">Hackify</a>
                <a class="btn btn-default disabled">SnapHack</a>
                <a class="btn btn-default disabled">HackBook</a>
            </div>
        </div>
        <div class="col-lg-2">
            @if (ViewBag.questions.Count > 0)
            {
                <div class="card box" style="max-width:350px; min-height:100px; max-height:275px;min-height:50px; margin-left:40px; margin-top:60px">
                    <div class="card-body">
                        <h1 class="text-center">Question 1: </h1>

                    </div>
                </div>
            }
            else
            {
                <h1 style="color:red"> There are no questions for excercise: @ViewBag.excercise</h1>
            }
        </div>
    </div>
</div>

